matplotlib==3.5.3
numpy==1.21.6
scapy
tldextract==5.1.2                     
scikit-learn
loguru==0.6.0
pandas==1.3.3
pyyaml==6.0
torch==2.6.0
notebook
pycryptodomex>=3.4
tinyec>=0.3.1
pandas==1.17.0
torch_geometric
tensorboard==2.20.0
optuna==4.6.0
torchinfo==1.8.0
seaborn==0.13.2